@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<h3>Don't hesistate to contact us if you have any queries: </h3>
<p>       </p>
<p>________________________________________________________________________________________________________________</p>
<p>                </p>
<h4>Phone Numbers:</h4>
<h6>Jonny Bob - ABC Retail's very own Executive Sales Consultant:</h6>
<p style="color: darkorange">087 384 8423</p>
<h6>Kevin Pillay - The founder and owner of ABC Retail: </h6>
<p style="color: darkorange">065 238 3843</p>
<p>________________________________________________________________________________________________________________</p>
<p>               </p>
<h4>Email Addresses:</h4>
<h6>Alice Zuberg -  ABC Retail's Head Administrator: </h6>
<p style="color: darkorange">alicezuberg@abcretail.com</p>
<h6>Jason Ham - ABC Retail's Secondary Administrator: </h6>
<p style="color: darkorange">jasonham@abcretail.com</p>
<p>________________________________________________________________________________________________________________</p>
<p>                 </p>
<h4>Main Office Physical Address:</h4>
<h6 style="color: darkorange">15 Riverdale Avenue, Durban North, Durban, Kwazulu-Natal</h6>
<p>We no longer support physical letters or fax but you can physically visit us if nearby</p>
<p>________________________________________________________________________________________________________________</p>
<p>              </p>
