@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 align="Center" style="color: darkorange">To The ABC Retail Website!</h2>
    <h3 align="Center"> We are an online retailer platform that sells some of the finest tech from your fav tech brands!</h3>
    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <p>       </p>
    <h5 align="left" style="color: darkorange">~ Users: </h5>
    <p align="Left">This is where you'll be able to see all the users that have been created! (**This is only for demonstration purposes**)</p>

    <h5 align="Left" style="color: darkorange">~ Products: </h5>
    <p align="Left">This is where you'll be able to view and purchase some of the finest tech from international brands!</p>

    <h5 align="Left" style="color: darkorange">~ Order: </h5>
    <p align="Left">Found something you desire from the 'Products' page? Then head on over to the 'Order' page to place an order!</p>

    <h5 align="Left" style="color: darkorange">~ Files: </h5>
    <p align="Left">This page is where an ABC Retail employee can upload and download log files and contract documents!</p>

    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
</div>
